BackEnd/WareHouse/.vs/
BackEnd/WareHouse/API/Authentication.API/obj/
BackEnd/WareHouse/API/Common.API/bin/
BackEnd/WareHouse/API/Common.API/obj/
BackEnd/WareHouse/API/Authentication.API/bin/
BackEnd/WareHouse/API/WareHouse.API/obj/
BackEnd/WareHouse/DataAccess/WareHouse.DataAccess/obj/
BackEnd/WareHouse/Services/Authentication.Service/obj/
BackEnd/WareHouse/Services/Authentication.Service/bin/
BackEnd/WareHouse/WareHouse/bin/
BackEnd/WareHouse/API/WareHouse.API/bin/
BackEnd/WareHouse/DataAccess/WareHouse.DataAccess/bin/
BackEnd/WareHouse/Services/WareHouse.Service/obj/
BackEnd/WareHouse/Services/WareHouse.Service/bin/
BackEnd/WareHouse/WareHouse/obj/
BackEnd/WareHouse/API/Admin.API/bin/
BackEnd/WareHouse/API/Admin.API/obj/
BackEnd/WareHouse/API/Customer.API/bin/
BackEnd/WareHouse/API/Customer.API/obj/
BackEnd/WareHouse/API/PurchaseOrder.API/obj/
BackEnd/WareHouse/API/PurchaseOrder.API/bin/
BackEnd/WareHouse/Services/Admin.Service/bin/
BackEnd/WareHouse/Services/Admin.Service/obj/
BackEnd/WareHouse/Services/PurchaseOrder.Service/obj/
BackEnd/WareHouse/Services/Customer.Service/obj/
BackEnd/WareHouse/Services/Customer.Service/bin/
BackEnd/WareHouse/Services/PurchaseOrder.Service/bin/
BackEnd/WareHouse/WareHouse/Log/
BackEnd/WareHouse/API/Order.API/bin/
BackEnd/WareHouse/API/Order.API/obj/
BackEnd/WareHouse/Services/Order.Service/bin/
BackEnd/WareHouse/Services/Order.Service/obj/
