<p>common-action works!</p>
<input type="button" value="Open modal" class="btn btn-success" (click)="onOpenModalButtonClick()">
<br/>
<h4>Show success message</h4>
<input type="button" value="Show message" class="btn btn-success" (click)="onShowSuccessMessageButtonClick()">
<br/>
<h4>Show warning message</h4>
<input type="button" value="Show message" class="btn btn-success" (click)="onWarningMessageButtonClick()">
<br/>
<h4>Show error message</h4>
<input type="button" value="Show message" class="btn btn-success" (click)="onShowErrorMessageButtonClick()">
<br/>
<h4>Show loading</h4>
<input type="button" value="Show message" class="btn btn-success" (click)="onShowLoadingButtonClick()">
<br/>
